*{
  margin: 0;
  padding: 0;
  font-family:Georgia, 'Times New Roman', Times, serif, 'Segoe UI','Playfair Display';
  box-sizing: border-box;
}

.container{
  height: 100vh;
  width: 100%;
  background-color: #3A5A40;
  background-size: 400% 400%;
  animation : color 18s ease-in-out infinite;

}

.Button {
  align-items: center;
  background-color: #BD855A;
  border: 2px solid #111;
  border-radius: 20px;
  box-sizing: border-box;
  color: #111;
  cursor: pointer;
  display: inline-flex;
  font-family: 'Fairplay Display',sans-serif;
  font-size: 20px;
  font-weight: bold;
  height: auto;
  justify-content: center;
  line-height: 1;
  max-width: 100%;
  padding: 8px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.Button:after {
  background-color: #111;
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform .2s ease-out;
  z-index: -1;
}

.Button:hover:after {
  transform: translate(0, 0);
}

.Button:active {
  background-color: #ffdeda;
  outline: 0;
}

.Button:hover {
  outline: 0;
}

@media (min-width: 768px) {
  .Button {
    padding: 10px 20px;
  }
}

#header{
  width: 100%;
  height: 100vh;
  background-size: cover;

}
.container{
  padding: 10px 10%;
}
   
nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.logo{
  width: 100px;
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;

}
.logo::before {
  content: "\2605"; /* Unicode for a star symbol */
  margin-left: 10px; /* Adjust the spacing between the text and the star */
  font-size: 19px; /* Adjust the size of the star */
  color: bisque;
}
nav ul li{
  display: inline-block;
  list-style: none;
  margin:20px 20px;

}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: 550;
  font-family: 'Playfair Display' , Arial, sans-serif; 
}
nav ul li a:hover {
  color: #fff; /* Set text color to white on hover */
}

.header-container {
  display: flex;
  justify-content: flex-end;
  padding-top: 0px;
  align-items: center;
  height: 70vh; /* You can adjust the height as needed */
  padding: 70px 0px 70px 30px; /* Add padding to provide some space from the edges */
}
.header-text {
  max-width: 600px; /* Adjust the maximum width of the text container */
}
.header-text h1 {
  color: white;
  margin-bottom: 40px; /* Add space between heading and other text */
  font-size: 50px;
  font-weight: bold;
  font-family: "Playfair Display"; 
}

.header-text h3 {
  color: white;
  font-size: 20px;
  font-weight: 500;
  font-family: "Playfair Display"; 
}

.button{
  display: flex;
  position: relative;
  left: 100px; /* Adjust the left position as needed */
  bottom: -10px; /* Adjust the bottom position as needed */
  justify-content: center;
  align-items: center;
  min-height: 40px;
  background:#E5EBEC ;
  padding: 12px 36px;
  margin : 10px 0;
  color:black;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
  border-radius: 20px;
  overflow: hidden;
  background: linear-gradient(90deg , #deecec, #F9E8D9);
  
}
span{
  position: absolute;
  background: black;
  transform: translate(-50%, -50%);
  pointer-events: none;
  border-radius: 50%;
  animation: animate 1s linear infinite;
}
@keyframes animate{
  0%
  {
  width: 0px;
  height: 0px;
  opacity: 0.5;
  }
  100%
  {
    width: 500px;
    height: 500px;
    opacity: 0;
  }
}
.frame {
  position: absolute;
  top: 85vh; /* Position it below the first page */
  left: 0;
  width: 100%;
  height: calc(25vh - 70px); /* Adjust height as needed */
  background-color: black;
  color: white;
  text-align: center;
}
.frame h1 {
  font-size: 90px;
}

.image-container {
  position: absolute;
  top: 120px; /* Adjust the top position as needed */
  left: 200px; /* Adjust the right position as needed */
}

.image-container img {
  max-width: 350px; /* Adjust the width of the image as needed */
  height: auto;
}

.image-container h3 {
  color: white; /* Set text color to white */
  font-size: 16px; /* Adjust font size as needed */
  margin-top: 10px; /* Add top margin for spacing */
  margin-left: 100px; /* Adjust left margin to move the h3 to the right */
  position: relative; /* Position the <h3> element relatively */
}

.image-container h3::after {
  content: ""; /* Create the pseudo-element */
  position: absolute; /* Position it absolutely */
  bottom: -5px; /* Adjust the position below the <h3> */
  left: 50px; /* Align it with the left side */
  width: 60px; /* Adjust the width of the line */
  height: 4px; /* Adjust the height of the line */
  background-color: #F9E8D9; /* Set the color of the line */
  display: block; /* Ensure it's displayed as a block element */
  margin: 10 auto; /* Center the line horizontally */
  border-radius: 2px; 
}